DemoGridView/.vs/DemoGridView/v17/.suo
/.vs
/DemoGridView/DemoGridView/obj
/DemoListView/.vs/DemoListView/v17
/DemoListView/DemoListView/bin/x86/Debug
/DemoListView/DemoListView/obj
/DemoRelativePanel/.vs/DemoRelativePanel/v17
/DemoRelativePanel/DemoRelativePanel/obj
/DemoStackPanel/.vs/DemoStackPanel/v17
/DemoStackPanel/DemoStackPanel/bin/x86/Debug
/DemoStackPanel/DemoStackPanel/obj
/DemoTongHop/.vs/DemoTongHop/v17
/DemoTongHop/DemoTongHop/bin/x86/Debug
/DemoTongHop/DemoTongHop/obj
/DemoUWP/.vs/DemoUWP/v17
/DemoUWP/DemoUWP/bin
/DemoUWP/DemoUWP/obj
/DemoGridView/DemoGridView/bin/x86/Debug
/DemoFilePicker/.vs/DemoFilePicker/v17
/DemoFilePicker/DemoFilePicker/bin/x86/Debug
/DemoFilePicker/DemoFilePicker/obj
/DemoADO_NET/.vs/DemoADO_NET/v17
/DemoADO_NET/DemoADO_NET/bin/x86/Debug
/DemoADO_NET/DemoADO_NET/obj
/DemoMultiView/.vs/DemoMultiView/v17/.suo
/DemoUWPSQlite/.vs/DemoUWPSQlite/v17
/DemoUWPSQlite/ConsoleApp1
/DemoUWPSQlite/DemoUWPSQlite/bin/x86/Debug
/DemoUWPSQlite/DemoUWPSQlite/obj
/MVC/DemoModel/packages
/MVC/DemoModel/DemoModel/obj
/MVC/DemoModel/DemoModel/bin
/MVC/DemoStart/packages
/MVC/DemoStart/DemoStart/obj
/MVC/DemoStart/DemoStart/bin
/DemoSplitView/.vs/DemoSplitView/v17/*.suo
